@import 'https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700';

* {
    font-family: 'Saira Extra Condensed', sans-serif;
}
.front {
    background-color: white;
    width: 9.6em;
    height: 16em;
    border: 1px solid black;
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    z-index: 10;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    box-shadow:  2px 2px 2px;
}
.backside {
    background: black;
    width: 9.6em;
    height: 16em;
    border: 1px solid black;
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    box-shadow:  2px 2px 2px;
}
.backside img {
    border-radius: 1em;
}
.flipper {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.card {
    width: 9.6em;
    height: 16em;
    position: relative;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.main_image {
    width: 6em;
}
.small img{
    width: 0.7em;
}
.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0.5em;
}
.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.right {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 0.5em;
}

.small p {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0em;
    font-weight: bold;
    font-size: 1.1em;
}
.deckcard {
    width: 9.6em;
    height: 16em;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    border-radius: 1em;
}
.hearts {
    color: #911919;
}
.diamonds {
    color: #911919;
}