@import 'https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700';

* {
    font-family: 'Saira Extra Condensed', sans-serif;
}
body {
    margin:0;
    padding:0;
}
#table {
    background: radial-gradient( rgb(212, 0, 0) 0%,rgb(104, 5, 5) 30%,#000 100%) ;
    padding: 2px;
    width: 100vw;
    height: 100vh;
}

#bank {
    border: 2px solid #000000;
    background-color: #545454;
    padding: 2px;
    display: inline-block;
    width: 8em;
    height: 4em;
    position: absolute;
    top: 2em;
    left: 80%;
    transform: translateX(-50%); 
    box-shadow:  5px 5px 5px;
    }

#player {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20em;
    height: 16em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    }

#dealer {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20em;
    height: 16em;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    display: flex;
    }

#score_grey {
    border: 1px solid #fff;
    background-color: gray;
    width: 11em;
    height: 5em;
    position: absolute;
    top: 8%;
    left: 8%;
    -webkit-transform: rotateY(340deg);
    transform: rotate(340deg);
    box-shadow:  -5px 5px 5px;
    }

#score_grey p {
    display: flex;
    justify-content: space-around;
    line-height: 0.4em;
}

#score_grey hr {
    width: 85%;
    line-height: 0.2em;
}

#score {
    border: 1px solid #fff;
    background-color: transparent;
    width: 13em;
    height: 7em;
    position: absolute;
    top: 6%;
    left: 7%;
    -webkit-transform: rotateY(340deg);
    transform: rotate(340deg);
    box-shadow:  -5px 5px 5px;
}


#deck {
    border: 1px solid #000000;
    background-color: transparent;
    width: 9.6em;
    height: 16em;
    position: absolute;
    top: 20%;
    left: 80%;
    /* transform: rotate(90deg); */
    border-radius: 1em;
    box-shadow:  5px 5px 5px;
    }

#red_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #FF0000, #500000) ;
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:0;
    }

#blue_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #1200FF, #13005C);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:20%;
    }

#yellow_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #FFFD00, #323700) ;
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:40%;
    }

#black_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #383838 ,black);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:60%;
    }

#pink_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #FD00FF, #2D002E);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:80%;
    }
   
.half-circle {
    height:45em;
    width: 15em;
    border-radius: 16em 0 0 16em;
    border-top:  0.2em solid #FFFFFF;
    border-left:   0.75em solid #FFFFFF;
    border-bottom: 0.2em solid #FFFFFF;
    transform:  rotate(-90deg);
    position: absolute;
    top: -1em;
    left:41%;
    } 

#headline {
    position: absolute;
    top: 33%;
    left: 40.5%;
    font-size: 4.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-shadow: 5px 5px 5px black;
}
#headline_2 {
    position: absolute;
    top: 35%;
    left: 42%;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 0.6em;
    letter-spacing: 0.05em;
    text-shadow: 5px 5px 5px black;
}
#buttons {
    position: absolute;
    top: 85%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

#modalWindow button {
    background: radial-gradient(rgb(83, 83, 83) 60%,rgb(0, 0, 0) 100%);
    width: 4em;
    height: 2em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-shadow: 5px 5px 5px black;
}

#buttons button {
    width: 5em;
    height: 3em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-shadow: 5px 5px 5px black;
}

#reset {
    background: radial-gradient(rgb(83, 83, 83) 60%,rgb(0, 0, 0) 100%);
    width: 5em;
    height: 3em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-shadow: 5px 5px 5px black;
}

#modalWindow button a,
#reset a {
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
}
#game-overlay #deal {
    background: radial-gradient(rgb(51, 255, 0) 60%,rgb(0, 0, 0) 100%);
}
#buttons #hit {
    background: radial-gradient(rgb(0, 0, 255) 60%,rgb(0, 0, 0) 100%);
}
#buttons #stand {
    background: radial-gradient(rgb(255, 0, 0) 60%,rgb(0, 0, 0) 100%);
}
#modalWindow button,
#buttons #reset,
#deal,
#buttons #hit,
#buttons #stand {
    border-bottom: 5px  solid rgba(0, 0, 0, 0.63);
    transition: all ease 0.2s;
    color: white;
    letter-spacing: 0.06em;
}

#modalWindow button:hover
#buttons #reset:hover,
#deal:hover,
#buttons #hit:hover,
#buttons #stand:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.63);
}

#modalWindow button:active,
#buttons #reset:active,
#deal:active,
#buttons #hit:active,
#buttons #stand:active {
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
}

#game-overlay #deal {
    width: 4em;
    height: 2em;
    border-radius: 1em;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-shadow: 5px 5px 5px black;
    border-bottom: 6px  solid rgba(0, 0, 0, 0.63);
    transition: all ease 0.2s;
    color: white;
    letter-spacing: 0.06em;
    margin-top: 1em;
}

#game-overlay #deal:hover {
    border-bottom: 4px solid rgba(0, 0, 0, 0.63);
}

#game-overlay #deal:active {
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
}

#game-overlay,
#modalWindow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0.6em;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    display: -webkit-flex;
    display: flex;
    z-index: 11;
}

#game-overlay.won {
    background: radial-gradient(rgb(0, 0, 0) 0.1%,rgba(41, 248, 0, 0.2) 300%);
}
#game-overlay.lost {
    background: radial-gradient(rgb(0, 0, 0) 0.1%,rgba(255, 0, 0, 0.2) 300%);
}
#game-overlay.draw {
    background: radial-gradient(rgb(0, 0, 0) 0.1%,rgba(0, 26, 255, 0.2) 300%);
}

#game-overlay .wrapper,
#game-overlay .wrapper.won,
#game-overlay .wrapper.lost,
#game-overlay .wrapper.draw,
#modalWindow .wrapper{
    margin: auto;
    color: white;
}

.end {
    color: white;
    font-size: 200%;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

.end #reset{
    width: 4em;
    height: 2em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-shadow: 5px 5px 5px black;
    border-bottom: 6px  solid rgba(0, 0, 0, 0.63);
    transition: all ease 0.2s;
    color: white;
    letter-spacing: 0.06em;
}


.end #reset:hover{
    border-bottom: 4px solid rgba(0, 0, 0, 0.63);
}

.end #reset:active{
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.63);
}

#modalWindow {
    font-size: 200%;
}