body {
    margin:0;
    padding:0;
}
#table {
    background: linear-gradient(#155E00, #019F04) ;
    padding: 2px;
    width: 100vw;
    height: 100vh;
}

#bank {
    border: 2px solid #000000;
    background-color: #545454;
    padding: 2px;
    display: inline-block;
    width: 8em;
    height: 4em;
    position: absolute;
    top: 2em;
    left: 80%;
    transform: translateX(-50%); 
    }

#player {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 9.6em;
    height: 16em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    }

#dealer {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 9.6em;
    height: 16em;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    }

#moneyholder_grey {
    border: 1px solid #000000;
    background-color: gray;
    width: 3em;
    height: 2em;
    position: absolute;
    top: 10%;
    left: 23%;
    }

#moneyholder {
    border: 1px solid #000000;
    background-color: transparent;
    width: 8em;
    height: 4em;
    position: absolute;
    top: 8%;
    left: 20%;
}


#deck {
    border: 1px solid #000000;
    background-color: transparent;
    width: 9.6em;
    height: 16em;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: rotate(90deg);
    border-radius: 1em;
    }

#red_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #FF0000, #500000) ;
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:0;
    }

#blue_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #1200FF, #13005C);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:20%;
    }

#yellow_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #FFFD00, #323700) ;
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:40%;
    }

#black_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #383838 ,black);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:60%;
    }

#pink_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #FD00FF, #2D002E);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:80%;
    }
   
.half-circle {
    height:30em;
    width: 15em;
    border-radius: 12em 0 0 12em;
    border-top:  1.5em solid #FFFFFF;
    border-left:   solid #FFFFFF;
    border-bottom: 1.5em solid #FFFFFF;
    transform:  rotate(-90deg);
    position: absolute;
    top: 4em;
    left:42%;
    
    } 

#buttonStart {
    position: relative;
    top: 30%;
    left:30%;

}