@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

* {
    font-family: 'Open Sans Condensed', sans-serif;
}
body {
    margin:0;
    padding:0;
}
#table {
    background: radial-gradient( #019F04 0%,#155E00 30%,#000 100%) ;
    padding: 2px;
    width: 100vw;
    height: 100vh;
}

#bank {
    border: 2px solid #000000;
    background-color: #545454;
    padding: 2px;
    display: inline-block;
    width: 8em;
    height: 4em;
    position: absolute;
    top: 2em;
    left: 80%;
    transform: translateX(-50%); 
    box-shadow:  5px 5px 5px;
    }

#player {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20em;
    height: 16em;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    }

#dealer {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20em;
    height: 16em;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    display: flex;
    }

#score_grey {
    border: 1px solid #fff;
    background-color: gray;
    width: 11em;
    height: 5em;
    position: absolute;
    top: 8%;
    left: 8%;
    -webkit-transform: rotateY(340deg);
    transform: rotate(340deg);
    box-shadow:  5px 5px 5px;
    }

#score_grey p {
    padding-left: 1em;
}

#score {
    border: 1px solid #fff;
    background-color: transparent;
    width: 13em;
    height: 7em;
    position: absolute;
    top: 6%;
    left: 7%;
    -webkit-transform: rotateY(340deg);
    transform: rotate(340deg);
    box-shadow:  5px 5px 5px;
}


#deck {
    border: 1px solid #000000;
    background-color: transparent;
    width: 9.6em;
    height: 16em;
    position: absolute;
    top: 20%;
    left: 80%;
    /* transform: rotate(90deg); */
    border-radius: 1em;
    box-shadow:  5px 5px 5px;
    }

#red_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #FF0000, #500000) ;
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:0;
    }

#blue_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #1200FF, #13005C);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:20%;
    }

#yellow_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #FFFD00, #323700) ;
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:40%;
    }

#black_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #383838 ,black);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:60%;
    }

#pink_chips{
    border: 1px solid #fff;
    background: linear-gradient(to right, #FD00FF, #2D002E);
    width: 1.4em;
    height: 4.2em;
    position: absolute;
    top:0;
    left:80%;
    }
   
.half-circle {
    height:45em;
    width: 15em;
    border-radius: 16em 0 0 16em;
    border-top:  0.2em solid #FFFFFF;
    border-left:   0.75em solid #FFFFFF;
    border-bottom: 0.2em solid #FFFFFF;
    transform:  rotate(-90deg);
    position: absolute;
    top: -1em;
    left:41%;
    } 

#buttons {
    position: absolute;
    top: 85%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

#buttons button {
    width: 5em;
    height: 3em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

#buttons #reset {
    background-color: black;
    box-shadow:  5px 5px 5px;
}

#buttons #reset a {
    color: white;
    text-decoration: none;
}
#buttons #deal {
    background: radial-gradient(rgb(51, 255, 0) 60%,rgb(0, 0, 0) 100%);
    box-shadow: 5px 5px 5px;
}
#buttons #hit {
    background: radial-gradient(rgb(0, 0, 255) 60%,rgb(0, 0, 0) 100%);
    box-shadow: 5px 5px 5px;
}
#buttons #stand {
    background: radial-gradient(rgb(255, 0, 0) 60%,rgb(0, 0, 0) 100%);
    box-shadow: 5px 5px 5px;
}
#buttons #reset:hover,
#buttons #deal:hover,
#buttons #hit:hover,
#buttons #stand:hover {
    border: 2px  solid rgba(255, 255, 255, 0.158);
    border-top: 1px;
    border-left: 1px;
}

