#table
    {
    border: 1px solid black;
    background: linear-gradient(#155E00, #019F04);
    padding: 2px;
    display: inline-block;
    width: 30em;
    height: 15em;
    position: relative;
    border-radius: 150px;
    
    }

#bank {
    border: 2px solid #000000;
    background-color: #545454;
    padding: 2px;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%); 
    }

#cardplacer0 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    }

#cardplacer1 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 30%;
    transform: rotate(50deg);
    }

#cardplacer2 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 5em;
    left: 20%;
    transform: rotate(90deg);
    }

#cardplacer3 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 65%;
    transform: rotate(-50deg);
    }

#cardplacer4 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 5em;
    left: 75%;
    transform: rotate(-90deg);
    }

#moneyholder1 {
    border: 1px solid #000000;
    background-color: gray;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 10%;
    left: 30%;
    }

#moneyholder2 {
    border: 1px solid #000000;
    background-color: transparent;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 8%;
    left: 29%;
}


#cardholder {
    border: 1px solid #000000;
    background-color: transparent;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 15%;
    left: 70%;
    transform: rotate(40deg);
    }

#red_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #FF0000, #500000) ;
    width: 0.7em;
    height: 2.1em;
    position: absolute;
    top:0;
    left:0;
    }

#blue_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #1200FF, #13005C);
    width: 0.7em;
    height: 2.1em;
    position: absolute;
    top:0;
    left:20%;
    }

#yellow_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #FFFD00, #323700) ;
    width: 0.7em;
    height: 2.1em;
    position: absolute;
    top:0;
    left:40%;
    }

#black_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #383838 ,black);
    width: 0.7em;
    height: 2.1em;
    position: absolute;
    top:0;
    left:60%;
    }

#pink_chips{
    border: 1px solid #000000;
    background: linear-gradient(to right, #FD00FF, #2D002E);
    width: 0.7em;
    height: 2.1em;
    position: absolute;
    top:0;
    left:80%;
    }
    
.half-circle {
    height:150px;
    width: 75px;
    border-radius: 150px 0 0 150px;
    border-top:  20px solid #FFFFFF;
    border-left:  solid #FFFFFF;
    border-bottom: 20px solid #FFFFFF;
    transform: translate(100px) rotate(-90deg);
    position: absolute;
    top:4em;
    left:6.5em;
    
    }